<!DOCTYPE html>
<html lang="en">
<%-include ('./partial/head.ejs') %>

    <body>
        <%-include ('./partial/nav.ejs') %>

            <div class="details content">
                <h2>
                    <%=blogdata.title %>
                </h2>
                <div class="content">
                    <p>
                        <%=blogdata.content %>
                    </p>
                </div>
                <a href="/blog/fetchupdatedata/<%= blogdata._id %>" class="updateLink">update</a>
            </div>
            <%- include ('./partial/footer.ejs') %>
    </body>
</html>