<!DOCTYPE html>
<html lang="en">
<%-include ('./partial/head.ejs') %>

   <body>
      <%-include ('./partial/nav.ejs') %> 
    
     <div class="blogs content">
        <h2>All Blogs</h2>
      <% if (printContent.length>0) { %>
         <%printContent.forEach(blogdata=> { %>
            <a href="/blog/detail/<%= blogdata._id %> ">
               <h3 class="title">
                  <%=blogdata.title%>
               </h3>
               <p class="snippet">
                  <%=blogdata.description%>
               </p>
            </a>

            <a class="del" id="<%= blogdata._id %>" data-doc="<%=blogdata._id %>">delete</a>

            <% }) %>
               <% } %>
     </div>

                  <script>
                     const deleteDAtaBlog = document.querySelectorAll ('.del');

                     deleteDAtaBlog.forEach(list => {
                        //dataset allows us to have access to the data value with <a>
                        const id = list.dataset.doc;
                        const endpoint = `/blog/delete/${id}`;

                        //the event listener means when the delete buttion is click delete it data
                        list.addEventListener("click", () => {

                           //the fetch is a ajax client based 
                           fetch(endpoint, {
                              method: "DELETE"
                           }).then(result => result.json())

                              //this responsible for refreshing the browser after deleting data blogs
                              .then(res => window.location.href = "http://localhost:8000/blog/display")
                              .catch(err => console.log(err))
                        })
                     })
                  </script>
                   <%- include ('./partial/footer.ejs') %> 
   </body>

</html>