<!DOCTYPE html>
<html lang="en">
<%-include ('./partial/head.ejs') %>

  <body>
    <%-include ('./partial/nav.ejs') %>
      <div class="create-blog content">
        <form action="/blog/update/<%=data._id%>" method="post">
          <label for="title">Blog Title*:</label>
          <input type="text" name="title" value="<%-data.title%>">

          <label for="snippet">Blog Description:</label>
          <textarea  name="description"><%-data.description%></textarea>

          <label for="body">Blog Content:</label>
          <textarea name="content"><%-data.content%></textarea>

          <button>Update</button>
        </form>
      </div>
      <%- include ('./partial/footer.ejs') %>
  </body>

</html>